@model DdacAssignment.Payment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cardholder_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cardholder_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.card_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.card_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expiration_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expiration_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.card_cvv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.card_cvv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
